:root {
  --rotate: 135deg;
}

@property --rotate {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@-moz-document url-prefix() {
  * {
    scrollbar-color: rgb(44, 44, 44) rgba(126, 126, 126, 0.424);
    scrollbar-width: thin;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background-color: rgba(53, 53, 53, 0.424);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44);
}

*::-webkit-scrollbar-button:single-button {
  background-color: rgb(44, 44, 44);
  width: 17px;
}

*::-webkit-scrollbar-button:single-button:hover, *::-webkit-scrollbar-thumb:hover {
  background-color: rgb(63, 63, 63);
}

@media screen and (max-width: 800px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
html {
  width: 100vw;
  background-color: rgb(26, 26, 26);
}

p, h2 {
  font-family: "Chakra Petch", sans-serif;
}

p {
  font-weight: 100;
}

h2 {
  font-variant: small-caps;
  font-size: 4rem;
  font-weight: 700;
  color: black;
  text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 5px rgb(255, 255, 255);
}
@media screen and (max-width: 400px) {
  h2 {
    font-size: 11vw;
  }
}

a, #switch {
  text-decoration: none;
  cursor: url("./hand-cursor-black.svg"), pointer;
}

body {
  position: relative;
  z-index: -1;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  cursor: url("./cursor-black.svg"), auto;
  background: linear-gradient(0deg, rgb(150, 211, 255), rgb(203, 191, 255));
  transition: all 0.9s ease;
}
body #up {
  position: absolute;
  top: 100vh;
  right: 0;
  bottom: 0;
  width: 5rem;
  height: calc(100% - 100vh);
  font-size: 2rem;
  pointer-events: none;
  z-index: 99;
}
body #up a {
  position: relative;
}
body #up #up-icon {
  position: sticky;
  top: 1vh;
  right: 0;
  color: rgb(0, 0, 0);
  padding: 1rem;
  pointer-events: all;
}
body #switch {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2rem;
  padding: 10px;
  z-index: 99;
}
@media (hover: hover) {
  body #switch:hover {
    color: rgb(255, 232, 170);
    transition: all 0.3s ease;
  }
}

#welcome {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
}
#welcome h1, #welcome p, #welcome a {
  text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 5px rgb(255, 255, 255);
}
#welcome .welcome-bg {
  position: absolute;
  top: 0;
  bottom: -25vh;
  right: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s ease;
}
#welcome .dark-element {
  background-image: url("pictures/start_dark.webp");
}
#welcome .light-element {
  background-image: url("pictures/start_light.webp");
}
#welcome #nav-bar {
  display: flex;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 0;
  justify-content: space-around;
  animation: slide-down 1s ease;
}
@keyframes slide-down {
  0% {
    transform: translate(0 -100%);
  }
  100% {
    transform: translate(0 0);
  }
}
#welcome #nav-bar a {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 15px;
  font-size: 1.5rem;
  color: black;
  font-family: "Chelsea Market", cursive;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  overflow: hidden;
}
#welcome #nav-bar a::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 200%;
  top: -95%;
  left: -15%;
  background-color: rgba(255, 255, 255, 0.184);
  transform-origin: center right;
  transform: rotate(45deg);
}
#welcome #nav-bar a:hover, #welcome #nav-bar a:active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.102) 0px 0px 5px 0px, rgba(0, 0, 0, 0.102) 0px 0px 1px 0px;
}
#welcome #nav-bar a:hover::before, #welcome #nav-bar a:active::before {
  animation: glare 0.8s ease;
}
@keyframes glare {
  0% {
    top: -95%;
    left: -15%;
  }
  100% {
    top: 15%;
    left: 100%;
  }
}
#welcome #text-container {
  position: relative;
  max-width: 70%;
  min-width: -moz-max-content;
  min-width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 0 30px 0;
  animation: slide-right 1s ease;
  z-index: 3;
  transition: color 0.3s ease;
}
@keyframes slide-right {
  0% {
    transform: translate(-100% 0);
  }
  100% {
    transform: translate(0 0);
  }
}
#welcome #text-container .text {
  max-width: 100%;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 0;
}
#welcome #text-container h1, #welcome #text-container p {
  margin: 1rem;
  font-size: 4.5rem;
  font-weight: 100;
  font-family: "Chelsea Market", cursive;
  max-width: calc(95vw - 2rem);
}
#welcome #text-container h1 {
  font-size: 4.5rem;
}
#welcome #text-container p {
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  #welcome {
    padding: 0;
  }
  #welcome #nav-bar a {
    font-size: 6vw;
  }
  #welcome #text-container {
    width: 100%;
  }
  #welcome #text-container h1 {
    font-size: 9vw;
  }
  #welcome #text-container p {
    font-size: 6vw;
  }
}

#about {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.4rem;
  margin: 50px 0;
}
#about #about-container {
  width: 90%;
  height: -moz-max-content;
  height: max-content;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  gap: 40px;
}
#about #about-container h2 {
  width: 100%;
  margin: 20px 0;
}
#about #about-container #profile {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#about #about-container #profile #profile-container {
  max-width: 400px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
#about #about-container #profile #profile-container p {
  margin: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#about #about-container #profile #profile-container p strong {
  font-variant: small-caps;
}
#about #about-container #profile #photo-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  border-radius: 5px;
  transform: translateZ(0);
  z-index: 0;
}
#about #about-container #profile #photo-container img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.302) 0px 1px 2px 0px, rgba(60, 64, 67, 0.149) 0px 1px 3px 1px;
}
#about #about-container #profile #photo-container::before, #about #about-container #profile #photo-container::after {
  position: absolute;
  transform: translateZ(0);
  z-index: 1;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 5px;
  content: "";
  background: rgb(0, 132, 255);
  background: linear-gradient(var(--rotate), rgb(0, 132, 255) 0%, rgb(123, 0, 255) 100%);
  animation: spin 3s linear infinite;
}
#about #about-container #profile #photo-container::before {
  filter: blur(5px);
}
#about #about-container #profile #photo-container::after {
  box-shadow: rgba(60, 64, 67, 0.302) 0px 1px 2px 0px, rgba(60, 64, 67, 0.149) 0px 1px 3px 1px;
}
#about #about-container > p {
  width: 50%;
  margin: 0;
  text-align: justify;
}
@media screen and (max-width: 920px) {
  #about #about-container > p {
    width: 100%;
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  #about #about-container {
    font-size: 6vw;
  }
}
@media screen and (min-height: 1000px) and (min-width: 750px) {
  #about {
    align-items: center;
  }
}

#tools {
  position: relative;
  padding: 20px 10px;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: aline-items 0.9s ease;
}
#tools .mouse {
  position: absolute;
  top: -30vh;
  bottom: 30vh;
  right: 47%;
  width: 40%;
  max-width: 700px;
  max-height: 1200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.9s ease;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.188) 0px 10px 20px, rgba(0, 0, 0, 0.231) 0px 6px 6px;
}
#tools .dark-element {
  background-image: url("pictures/mouse_dark.webp");
}
#tools .light-element {
  background-image: url("pictures/mouse_light.webp");
}
#tools .mouse::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 25px;
  right: -25px;
  left: 25px;
  bottom: -25px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
#tools #tools-container {
  width: -moz-max-content;
  width: max-content;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.302) 0px 1px 2px 0px, rgba(60, 64, 67, 0.149) 0px 1px 3px 1px;
  transform: translateX(20vw);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: all 0.3s ease;
}
#tools #tools-container h2 {
  margin: 0;
  width: -moz-max-content;
  width: max-content;
}
#tools #tools-container p {
  font-size: 1.3rem;
}
#tools #tools-container #tool-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
#tools #tools-container #tool-list div {
  text-align: center;
  width: 92px;
}
#tools #tools-container #tool-list div p {
  margin: 0;
}
#tools #tools-container #tool-list .tools-icon {
  padding: 1rem;
  transition: all 0.3s ease;
  font-size: 3rem;
}
#tools #tools-container #tool-list #html-icon:hover, #tools #tools-container #tool-list #html-icon:active {
  color: rgb(227, 76, 38);
}
#tools #tools-container #tool-list #css-icon:hover, #tools #tools-container #tool-list #css-icon:active {
  color: rgb(38, 77, 228);
}
#tools #tools-container #tool-list #js-icon:hover, #tools #tools-container #tool-list #js-icon:active {
  color: rgb(240, 219, 79);
}
#tools #tools-container #tool-list #react-icon:hover, #tools #tools-container #tool-list #react-icon:active {
  color: rgb(4, 216, 249);
}
#tools #tools-container #tool-list #sass-icon:hover, #tools #tools-container #tool-list #sass-icon:active {
  color: rgb(204, 102, 153);
}
#tools #tools-container #tool-list #git-icon:hover, #tools #tools-container #tool-list #git-icon:active {
  color: rgb(243, 79, 41);
}
#tools #tools-container #tool-list #github-icon:hover, #tools #tools-container #tool-list #github-icon:active {
  color: rgb(98, 43, 207);
}
#tools #tools-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 50%;
  right: 50%;
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  z-index: -1;
  border-radius: 5px 0 0 0;
}
#tools #tools-container::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  bottom: 0%;
  right: 0%;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  z-index: -1;
  border-radius: 0 0 5px 0;
}
@media screen and (max-width: 1050px) {
  #tools {
    align-items: flex-end;
    padding: 10px 40px;
  }
  #tools .mouse {
    position: absolute;
    top: 0;
    bottom: 0;
    right: unset;
    width: 95%;
    max-width: 700px;
  }
  #tools .mouse::before {
    right: 0;
    left: 0;
  }
  #tools #tools-container {
    transform: initial;
  }
}
@media screen and (max-width: 750px) {
  #tools {
    align-items: center;
  }
  #tools .mouse {
    display: none;
  }
}

#projects {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.5rem;
  margin: 60px 0;
  padding: 20px 0;
}
#projects .projects-bg {
  position: absolute;
  top: -25vh;
  bottom: 20vh;
  right: 10vw;
  width: 40%;
  max-width: 700px;
  max-height: 2000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.188) 0px 10px 20px, rgba(0, 0, 0, 0.231) 0px 6px 6px;
  transition: all 0.3s ease;
}
#projects .projects-bg::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 25px;
  right: -25px;
  left: 25px;
  bottom: -25px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
#projects .dark-element {
  background-image: url("pictures/projects_dark.webp");
}
#projects .light-element {
  background-image: url("pictures/projects_light.webp");
}
@media screen and (max-width: 1050px) {
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #projects .projects-bg {
    top: 0;
    bottom: 0;
    right: unset;
    width: 95%;
    max-width: 700px;
  }
  #projects .projects-bg::before {
    right: 0;
    left: 0;
  }
}
#projects #projects-container {
  position: relative;
  z-index: 0;
  width: 50%;
  min-width: -moz-min-content;
  min-width: min-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
  margin: 0;
  gap: 30px 40px;
  border-radius: 5px;
}
#projects #projects-container h2 {
  margin: 20px 10px;
}
#projects #projects-container .project {
  position: relative;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 5px;
  padding: 20px 10px;
  text-align: center;
}
#projects #projects-container .project .link {
  position: relative;
  width: 90vw;
  height: 90vh;
  max-width: 400px;
  max-height: 400px;
  transform: translateZ(0);
  z-index: 1;
  transition: scale 0.3s ease;
}
#projects #projects-container .project .link a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
}
#projects #projects-container .project .link a .project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  transition: opacity 0.5s ease;
}
#projects #projects-container .project .link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects #projects-container .link::before, #projects #projects-container .link::after {
  transform: translateZ(0);
  z-index: 0;
  border-radius: 5px;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  position: absolute;
  content: "";
  background: rgb(0, 132, 255);
  background: linear-gradient(var(--rotate), rgb(0, 132, 255) 0%, rgb(123, 0, 255) 100%);
  animation: spin 3s linear infinite;
}
#projects #projects-container .link::before {
  filter: blur(5px);
}
#projects #projects-container .link .shadow {
  position: absolute;
  z-index: -1;
  content: "";
  top: 15px;
  right: -15px;
  left: 15px;
  bottom: -15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
#projects #projects-container .link::after {
  box-shadow: rgba(60, 64, 67, 0.302) 0px 1px 2px 0px, rgba(60, 64, 67, 0.149) 0px 1px 3px 1px;
}
@media (hover: hover) {
  #projects #projects-container .link a .project-overlay {
    opacity: 0.5;
  }
}
@media (hover: none) {
  #projects #projects-container .link a .project-overlay {
    opacity: 0;
  }
}
@media (hover: hover) {
  #projects #projects-container .link:hover {
    transform: scale(1.05);
  }
  #projects #projects-container .link:hover .shadow {
    top: 15px;
    right: -5px;
    left: 5px;
    bottom: -15px;
  }
  #projects #projects-container .link:hover a .project-overlay {
    opacity: 0;
  }
}
#projects #projects-container p {
  color: black;
  text-shadow: 0px 0px 3px rgb(255, 255, 255), 0px 0px 3px rgb(255, 255, 255);
  font-weight: 700;
  padding: 20px 0;
  font-family: "Chelsea Market", cursive;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.321);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: rgba(60, 64, 67, 0.302) 0px 1px 2px 0px, rgba(60, 64, 67, 0.149) 0px 1px 3px 1px;
  transition: all 0.3s ease;
}
#projects #projects-container p:hover, #projects #projects-container p:active {
  background-color: rgba(0, 0, 0, 0.55);
  text-shadow: 0px 0px 7px rgb(255, 255, 255), 0px 0px 7px rgb(255, 255, 255);
}
@media screen and (min-height: 1000px) and (min-width: 750px) {
  #projects #projects-container {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  #projects #projects-container .link .shadow {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #projects #projects-container p {
    font-size: 6vw;
  }
}
@media screen and (max-width: 750px) {
  #projects .projects-bg {
    display: none;
  }
}

#contact {
  position: relative;
  width: 100%;
  padding: 30px 0;
  height: -moz-max-content;
  height: max-content;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
#contact #contact-container {
  max-width: 600px;
  z-index: 0;
  width: 90%;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.302) 0px 1px 2px 0px, rgba(60, 64, 67, 0.149) 0px 1px 3px 1px;
}
#contact #contact-container p {
  width: 100%;
  font-size: 1.4rem;
}
#contact #contact-container a {
  font-size: 2.3rem;
  margin: 20px;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
@media screen and (max-width: 400px) {
  #contact #contact-container p {
    font-size: 6vw;
  }
  #contact #contact-container a {
    font-size: 11vw;
  }
}
#contact #contact-container #mail-icon:hover, #contact #contact-container #mail-icon:active {
  color: rgb(79, 140, 197);
}
#contact #contact-container #insta-icon:hover, #contact #contact-container #insta-icon:active {
  color: rgb(195, 42, 163);
}
#contact #contact-container #fb-icon:hover, #contact #contact-container #fb-icon:active {
  color: rgb(59, 89, 152);
}
#contact #contact-container #github-icon:hover, #contact #contact-container #github-icon:active {
  color: rgb(98, 43, 207);
}
#contact .contact-bg {
  position: absolute;
  z-index: -1;
  top: -25vh;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  transition: all 0.9s ease;
}
#contact .dark-element {
  background-image: url("pictures/end_dark.webp");
}
#contact .light-element {
  background-image: url("pictures/end_light.webp");
}

body.dark {
  background: linear-gradient(0deg, rgb(24, 10, 57) 0%, rgb(17, 38, 65) 50%, rgb(23, 1, 24) 100%);
  cursor: url("./cursor-white.svg"), auto;
}
body.dark a, body.dark #switch {
  text-decoration: none;
  cursor: url("./hand-cursor-white.svg"), pointer;
}
body.dark svg {
  color: rgb(255, 255, 255);
}
body.dark #up-icon, body.dark p, body.dark a, body.dark h1, body.dark h2 {
  color: white !important;
}
body.dark #welcome #nav-bar a:hover {
  border-color: rgba(255, 255, 255, 0.118);
  box-shadow: rgba(0, 0, 0, 0.239) 0px 3px 8px;
}
body.dark #welcome p, body.dark #welcome h1 {
  text-shadow: 0px 0px 5px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
}
body.dark #tools-container {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
body.dark #tools-container::after, body.dark #tools-container::before {
  border-color: rgb(255, 255, 255) !important;
}
body.dark #profile-container p {
  border-bottom-color: rgb(255, 255, 255) !important;
}
body.dark #photo-container::before, body.dark #photo-container::after, body.dark .link::before, body.dark .link::after {
  background: rgb(85, 0, 255) !important;
  background: linear-gradient(var(--rotate), rgb(51, 0, 255) 0%, rgb(255, 0, 179) 100%) !important;
}
body.dark #photo-container::before, body.dark .link::before {
  filter: blur(20px) !important;
}
body.dark .project p, body.dark h2, body.dark #welcome a {
  text-shadow: -3px -3px 8px rgb(132, 56, 255), 3px 3px 8px rgb(59, 56, 255) !important;
}
body.dark #projects-container p:hover, body.dark #projects-container p:active {
  text-shadow: -3px -3px 15px rgb(132, 56, 255), 3px 3px 15px rgb(59, 56, 255) !important;
}
body.dark #contact-container {
  background-color: rgb(26, 26, 26) !important;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}/*# sourceMappingURL=App.css.map */